<div id="nav-bar">
  {{#scroll-to href='#top'}}
    <img class="homebtn" src="./img/evontay-logo-fill.svg"/>
  {{/scroll-to}}

  <div class="nav">
      <ul class="rotate">
      <li>{{scroll-to href='#projects' label='projects'}}</li>
      <li>{{scroll-to href='#experience' label='experience'}}</li>
      <li>{{scroll-to href='#education' label='education'}}</li>
      <li>{{scroll-to href='#contact' label='contact'}}</li>
    </ul>
  </div>
</div>
