<div class="education">
  <div class="education-item">
    <div class="education-left">
      <p class="period"><{{item.period}}</p>
      <div class='timeline'></div>
    </div>

    <div class="education-right">
      <h3 class="serif">{{item.school}}</h3>
      <p class="quali"><{{item.qualifications}}</p>
    </div>
  </div>

  <div class="empty"></div>
</div>
