


  <div class="work-item">
    <div class="work-left">
      <p class="period">{{item.period}}</p>
      <div class='timeline'></div>
    </div>

    <div class="work-right">
      <h3 class="serif">{{item.company}}</h3>
      <p class="role">{{item.role}}</p>
      <!-- <p class="serif">{{work.description}}</p> -->
    </div>
