<div class="body">
  <div class="bigwrap">
    {{outlet}}
  </div>
</div>

<footer>
  <ul>
    <li>{{#link-to 'index' class="button"}}
      Home!
    {{/link-to}}</li>

    <li>{{#link-to 'projects' class="button"}}
      Projects!
    {{/link-to}}</li>

    <li>{{#link-to 'educations' class="button"}}
      Education!
    {{/link-to}}</li>

    <li>{{#link-to 'works' class="button"}}
      Work!
    {{/link-to}}</li>
  </ul>

  <img src="./img/evontay-logo.svg"/>
</footer>
