<h2 class="work">Where I've worked</h2>

{{#each model as |work|}}
<div class="work-item">
  <div class="work-left">
    <p class="period">{{work.period}}</p>
    <div class='timeline'></div>
  </div>

  <div class="work-right">
    <h3 class="serif">{{work.company}}</h3>
    <p class="role">{{work.role}}</p>
    <!-- <p class="serif">{{work.description}}</p> -->
  </div>

</div>
{{/each}}
